[submodule "mms5-layer1-service"]
	path = submodules/mms5-layer1-service
	url = https://github.com/Open-MBEE/mms5-layer1-service.git
[submodule "mms5-auth-service"]
	path = submodules/mms5-auth-service
	url = https://github.com/Open-MBEE/mms5-auth-service.git
[submodule "mms5-store-service"]
	path = submodules/mms5-store-service
	url = https://github.com/Open-MBEE/mms5-store-service.git
