[submodule "submodules/flexo-mms-layer1-service"]
	path = submodules/flexo-mms-layer1-service
	url = https://github.com/Open-MBEE/flexo-mms-layer1-service.git
[submodule "submodules/flexo-mms-store-service"]
	path = submodules/flexo-mms-store-service
	url = https://github.com/Open-MBEE/flexo-mms-store-service.git
[submodule "submodules/flexo-mms-auth-service"]
	path = submodules/flexo-mms-auth-service
	url = https://github.com/Open-MBEE/flexo-mms-auth-service.git
